.image-box {
    position: relative;
    overflow: hidden;
}

.image-box .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    display: block;
    top: 0;
}

.image-box-info .link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.image-box-info .link span {
    display: none;
}

.image-box .logo {
    display: none;
}

.image-box .title {
    font-weight: 600;
}

.image-box .client {
    font-weight: 400;
}

/* Active */

.image-box-active .image-box {
    text-align: center;
}

.image-box-active .image-box-animate {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.image-box-active .image-box-animate-slow {
    transition: all 0.5s ease;
}

.image-box-active .picture {
    
}

.image-box-active .image-box-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    opacity: 0;
    z-index: 1;
}

.image-box-active .image-box .title {
    position: relative;
    top: -5px;
}

.image-box-active .image-box .client {
    position: relative;
    bottom: -5px;
}

.image-box-active .image-box .logo {
    display: block;
    transform: scale(0);
}

.image-box-active .image-box .description {
    padding-left: 40px;
    padding-right: 40px;
}

/* Hover */

.image-box-active .image-box:hover .image-box-animate {
    opacity: 1;
    visibility: visible;
}

.image-box-active .image-box:hover .picture {
    transform: scale(1.1);
}

.image-box-active .image-box:hover .image-box-info {
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    opacity: 0.9;
}

.image-box-active .image-box:hover .logo {
    transform: scale(1);
}

.image-box-active .image-box:hover .title {
    top: 0;
}

.image-box-active .image-box:hover .client {
    bottom: 0;
}

.image-box-active .image-box:hover .description {
    padding-left: 20px;
    padding-right: 20px;
}

/* Vimeo */
.image-box .vimeo-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box .vimeo-wrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 125%;
}

.image-box .vimeo-wrap iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 1000px) {
    .image-box-info {
        padding: 1rem;
        padding-bottom: 3rem;
    }
}